@model UsersList.Models.User

@{
    ViewBag.Title = "Add User";
}

@using (Html.BeginForm("Add", "User", FormMethod.Post, new { enctype = "multipart/form-data", id = "addForm"}))
{
    @Html.HiddenFor(model => model.UserId, new { @id="userId" })

    <fieldset>
        <legend>Add User to List</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @id="userName" } })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.UserEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserEmail, new { htmlAttributes = new { @class = "form-control", @id = "userEmail" } })
            @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SkypeLogin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SkypeLogin, new { htmlAttributes = new { @class = "form-control", @id = "skypeLogin" } })
            @Html.ValidationMessageFor(model => model.SkypeLogin, "", new { @class = "text-danger" })
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Signature)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Signature, new { htmlAttributes = new { @class = "form-control", @id = "signature" } })
        </div>
        <div class="editor-field">
            <label>Аватар:</label>
            @if (Model != null)
            {
                if (Model.UserAvatar == null)
                {
                    @:None
                }
                else
                {
                    <img width="75" height="75" src="@Url.Action("GetImage", "User", new { Model.UserId})" />
                }
            }
            <div>
                Выберите новую картинку:
                <input type="file" name="Image" id="fileInput" class="btn btn-default"/>
            </div>
        </div>
    </fieldset>

    <input type="submit" value="Save" class="btn btn-danger"/>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</div>

@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function() {
            $('#addForm').on("change", function(e) {
                var file = document.getElementById("fileInput").files[0];

                var user = {
                    UserId: document.getElementById('userId').value,
                    UserName: document.getElementById('userName').value,
                    UserEmail: document.getElementById('userEmail').value,
                    SkypeLogin: document.getElementById('skypeLogin').value,
                    Signature: document.getElementById('signature').value
                };
               
                var formData = new FormData();
                formData.append("user", user);
                formData.append("image", file);
                
                console.log(user.Signature);
                e.preventDefault();
                    $.ajax({
                        url: '/User/Add/',
                        type: 'POST',
                        data: formData,
                        contentType: false,
                        processData: false,
                    success: function(data) {
                        debugger;
                    },
                    error: function(xhr, errmsg, err) {
                        //alert('При обращении к серверу произошла ошибка');
                    }
                });
            });
        });

    </script>
}
