@model UsersList.Models.User

@{
    ViewBag.Title = "Add User";
}

@using (Html.BeginForm("Add", "User", FormMethod.Post, new { enctype = "multipart/form-data", id = "addForm"}))
{
    @Html.HiddenFor(model => model.UserId, new { @id="userId" })

    <fieldset>
        <legend>Add User to List</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @id="userName" } })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.UserEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserEmail, new { htmlAttributes = new { @class = "form-control", @id = "userEmail" } })
            @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SkypeLogin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SkypeLogin, new { htmlAttributes = new { @class = "form-control", @id = "skypeLogin" } })
            @Html.ValidationMessageFor(model => model.SkypeLogin, "", new { @class = "text-danger" })
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Signature)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Signature, new { htmlAttributes = new { @class = "form-control", @id = "signature" } })
        </div>
        <div class="editor-field">
            <label>Аватар:</label>
            @if (Model != null)
            {
                if (Model.UserAvatar == null)
                {
                    @:None
                }
                else
                {
                    <img width="75" height="75" src="@Url.Action("GetImage", "User", new { Model.UserId})" />
                }
            }
            <div>
                Выберите новую картинку:
                <input type="file" name="Image" id="fileInput" class="btn btn-default"/>
            </div>
        </div>
    </fieldset>

    <input type="submit" value="Save" class="btn btn-danger"/>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</div>

@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#addForm').on("change", function(e) {
                e.preventDefault();
                console.log("ok");
                var fileUpload = $("#fileInput").get(0).files;

                var userId = document.getElementById('userId').value;
                var userName = document.getElementById('userName').value;
                var userEmail = document.getElementById('userEmail').value;
                var skypeLogin = document.getElementById('skypeLogin').value;
                var signature = document.getElementById('signature').value;

                if (userName == "" || userEmail == "") {
                    alert("заполните поля имя и адрес");
                    return;
                }

                var formData = new FormData();
                formData.append("userId", userId);
                formData.append("userName", userName);
                formData.append("userEmail", userEmail);
                formData.append("skypeLogin", skypeLogin);
                formData.append("signature", signature);

                if (fileUpload.length > 0) {
                    formData.append("userAvatar", fileUpload[0]);
                }
                console.log("ok2");

                //console.log("user.Signature = " + user.Signature);
                    //$.ajax({
                    //    url: '/User/Add/',
                    //    type: 'POST',
                    //    data: JSON.stringify(user),
                    //    datatype: "json",
                    //    contentType: "application/json; charset=utf-8",
                    //    //processData: false,
                    //success: function(data) {
                    //    //alert('данные отправлены');
                    //},
                    //error: function(xhr, errmsg, err) {
                    //    //alert('При обращении к серверу произошла ошибка');
                    //}
                //});
                $.ajax({
                    url: '/User/Add/',
                    type: "POST",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function(data) {
                    },
                    error: function(resp) {
                        //alert(resp);
                    }
                });
                console.log("ok3");
            });
        });

    </script>
}
